{% extends "base.html" %}
{% block content %}
<!-- Page Header Start -->
<div class="page-header mb-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2> Dishes </h2>
            </div>
            <div class="col-12">
                <a href="/">Home</a>
                <a href="/dishes">Dishes</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Food Start -->
<div class="food mt-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4">
                <div class="food-item">
                    <a href="" target="_blank"><img src="https://media.istockphoto.com/id/491237104/photo/stir-fry-chicken-sweet-peppers-and-green-beans.jpg?s=612x612&w=0&k=20&c=n-b1uV5fz2CYF-FhnBt5JNHK4mcLp9DMr6RsPXVdvmU=" style="height: 200px;width: 100%;"></a>
                    <h2 class="">Vegetable Stir-Fry</h2>
                    <h4 class="menu-text" style="font-weight: normal;">
                        <strong>$5</strong>
                        
                    </h4>
                    <a href="">Order Now</a>
                  
                </div>
            </div>

            <div class="col-md-4">
                <div class="food-item">
                    <a href="" target="_blank"><img src="https://media.istockphoto.com/id/1264941753/photo/traditional-caprese-salad-top-view.jpg?s=612x612&w=0&k=20&c=pCEMc7AgClTLTQnCFh_-DYf9q9pFenmXCzQ33RM_5dk=" style="height: 200px;width: 100%;"></a>
                    <h2 class="">Caprese Salad</h2>
                    <h4 class="menu-text" style="font-weight: normal;">
                        <strong>$7</strong>
                       
                    </h4>
                    <a href="">Order Now</a>
                   
                </div>
            </div>

            <div class="col-md-4">
                <div class="food-item">
                    <a href="" target="_blank"><img src="https://media.istockphoto.com/id/1130228942/photo/indian-dal-traditional-indian-soup-lentils-indian-dhal-spicy-curry-in-bowl-spices-herbs.jpg?s=612x612&w=0&k=20&c=ciPGZR4hkLeUL-nRxY4iAh539zYLgUkNz82GG_nJG5A=" style="height: 200px;width: 100%;"></a>
                    <h2 class="">Lentil Soup</h2>
                    <h4 class="menu-text" style="font-weight: normal;">
                        <strong>$4</strong>
                       
                    </h4>
                    <a href="">Order Now</a>
                  
                </div>
            </div>

              <div class="col-md-4">
                <div class="food-item">
                    <a href="" target="_blank"><img src="https://media.istockphoto.com/id/1007458326/photo/traditional-italian-risotto.jpg?s=612x612&w=0&k=20&c=IZnzZbHSXePbJogodwW3tCDarpna80NKr3UlbUnuIoc=" style="height: 200px;width: 100%;"></a>
                    <h2 class="">Mushroom Biriyani</h2>
                    <h4 class="menu-text" style="font-weight: normal;">
                        <strong>$6</strong>
                       
                    </h4>
                    <a href="">Order Now</a>
                    
                </div>
            </div>

              <div class="col-md-4">
                <div class="food-item">
                    <a href="" target="_blank"><img src="https://media.istockphoto.com/id/1292443973/photo/traditional-hyderabadi-vegetable-veg-dum-biryani-with-mixed-veggies-served-with-mixed-raita.jpg?s=612x612&w=0&k=20&c=QJxPi1I6JbdZP9VF-IpgwFUTW2KP_q7X7IpPepnZZE4=" style="height: 200px;width: 100%;"></a>
                    <h2 class=""> Veg Biriyani</h2>
                   <h4 class="menu-text" style="font-weight: normal;">
                        <strong>$6</strong>
                        
                    </h4>
                    <a href="">Order Now</a>
                </div>
            </div>

              <div class="col-md-4">
                <div class="food-item">
                    <a href="" target="_blank"><img src="https://media.istockphoto.com/id/1310234892/photo/classic-creamy-mushroom-risotto-sprinkled-with-grated-parmesan-cheese-in-a-pan-flat-lay-free.jpg?s=612x612&w=0&k=20&c=Nw0XOdL9qG8s1bfuGSBFuK5GkjaVsLB2W4w9FN5Mcps=" style="height: 200px;width: 100%;"></a>
                    <h2 class="">Mushroom Risotto</h2>
                    <p> </p>
                    <h4 class="menu-text" style="font-weight: normal;">
                        <strong>$9</strong>
                       
                    </h4>
                    <a href="">Order Now</a>
                   
                </div>
            </div>

              <div class="col-md-4">
                <div class="food-item">
                    <a href="" target="_blank"><img src="https://media.istockphoto.com/id/160819148/photo/paella.jpg?s=612x612&w=0&k=20&c=8N4du_S44sssygclBhRCQ316OrrfXufIFx8NtZQJVBI=" style="height: 200px;width: 100%;"></a>
                    <h2 class="">Vegetable Paella</h2>
                    <p> </p>
                    <h4 class="menu-text" style="font-weight: normal;">
                        <strong>$5</strong>
                        
                    </h4>
                    <a href="">Order Now</a>
                   
                </div>
            </div>

              <div class="col-md-4">
                <div class="food-item">
                    <a href="" target="_blank"><img src="https://media.istockphoto.com/id/1166893356/photo/traditional-italian-food-baked-eggplant-tomatoes-with-sauce-parmesan-and-basil-rustic-food.jpg?s=612x612&w=0&k=20&c=0mfj2cPmEx1CR1RugxioiSFC741sh91xLUEll62OF0U=" style="height: 200px;width: 100%;"></a>
                    <h2 class="">Eggplant Parmesan</h2>
                    <p> </p>
                    <h4 class="menu-text" style="font-weight: normal;">
                        <strong>$8</strong>
                        
                    </h4>
                    <a href="">Order Now</a>
                   
                </div>
            </div>

              <div class="col-md-4">
                <div class="food-item">
                    <a href="" target="_blank"><img src="https://media.istockphoto.com/id/1295943731/photo/chana-masala-or-chole-in-black-bowl-on-dark-slate-table-top-indian-cuisine-veg-chickpeas.jpg?s=612x612&w=0&k=20&c=FI-Qt3ufxWPGNmyZxnezSORGtM4As1McZj4FDOaF1cw=" style="height: 200px;width: 100%;"></a>
                    <h2 class="">Chana Masala</h2>
                   <p> </p>
                    <h4 class="menu-text" style="font-weight: normal;">
                        <strong>$4</strong>
                        
                    </h4>
                    <a href="">Order Now</a>
                   
                </div>
            </div>

              <div class="col-md-4">
                <div class="food-item">
                    <a href="" target="_blank"><img src="https://media.istockphoto.com/id/1166788292/photo/kabsa-at-white-wooden-background-kabsa-is-traditional-saudi-arabian-cuisine-dish.jpg?s=612x612&w=0&k=20&c=FdwOAuhAn99Ztx4tQh3JCU_O_rb6BetG2CeaNx4HaMg=" style="height: 200px;width: 100%;"></a>
                    <h2 class="">Chicken Biriyani</h2>
                    <p> </p>
                    <h4 class="menu-text" style="font-weight: normal;">
                        <strong>$5</strong>
                        
                    </h4>
                    <a href="">Order Now</a>
                    
                </div>

            </div>
             <div class="col-md-4">
                <div class="food-item">
                    <a href="" target="_blank"><img src="https://media.istockphoto.com/id/1264331055/photo/image-of-metal-tongs-turning-crispy-fried-fish-in-a-frying-pan-on-hotplate-goan-fish-curry.jpg?s=612x612&w=0&k=20&c=8srlAGd91vf8WPWX9feCsFLz64_TL0Np7OiIfoGpZAI=" style="height: 200px;width: 100%;"></a>
                    <h2 class="">Fish Fry</h2>
                    <p> </p>
                    <h4 class="menu-text" style="font-weight: normal;">
                         <strong>$4</strong>
                    </h4>
                    <a href="">Order Now</a>
                    
                </div>
            </div>
             <div class="col-md-4">
                <div class="food-item">
                    <a href="" target="_blank"><img src="https://media.istockphoto.com/id/615278110/photo/beef-and-barley-soup.jpg?s=612x612&w=0&k=20&c=ReotN3JkRfwDykVmh2zbj9enOWtXF20__OarXQbMZzI=" style="height: 200px;width: 100%;"></a>
                    <h2 class="">Mutton Soup</h2>
                    <p> </p>
                    <h4 class="menu-text" style="font-weight: normal;">
                        <strong>$6</strong>
                       
                    </h4>
                    <a href="">Order Now</a>
                   
                </div>
            </div>
             <div class="col-md-4">
                <div class="food-item">
                    <a href="" target="_blank"><img src="https://media.istockphoto.com/id/1957922787/photo/grilled-prawn-biryani-rice-served-in-clypot-dish-isolated-on-wooden-table-top-view-of-indian.jpg?s=612x612&w=0&k=20&c=Yi6LAGaJgIGO0Au1zS2sjEGNA0-O6VQFHhV6vpQVkkI=" style="height: 200px;width: 100%;"></a>
                    <h2 class="">Prawns Biriyani</h2>
                    <p> </p>
                    <h4 class="menu-text" style="font-weight: normal;">
                        <strong>$8</strong>
                    </h4>
                    <a href="">Order Now</a>
                    
                </div>
            </div>
             <div class="col-md-4">
                <div class="food-item">
                    <a href="" target="_blank"><img src="https://media.istockphoto.com/id/1052349782/photo/delicious-homemade-biryani-with-chicken-onion-lemon-spices-and-cilantro-close-up-horizontal.jpg?s=612x612&w=0&k=20&c=-fZsIa2B4gk9JCABOO1jUfAca61ovRqMCCKMFTl7UOM=" style="height: 200px;width: 100%;"></a>
                    <h2 class="">Chicken Fry Biriyani</h2>
                    <p> </p>
                    <h4 class="menu-text" style="font-weight: normal;">
                         <strong>$6</strong>
                    </h4>
                    <a href="">Order Now</a>
                   
                </div>
            </div>
             <div class="col-md-4">
                <div class="food-item">
                    <a href="" target="_blank"><img src="https://media.istockphoto.com/id/964794072/photo/fried-ribs-with-rosemary-potatoes-rustic-onion-sauce-on-wooden-round-board-dark-background.jpg?s=612x612&w=0&k=20&c=dD5avHhVmspmMliMmJuzd03p0fJHn6QHZqPILooIaZk=" style="height: 200px;width: 100%;"></a>
                    <h2 class="">Grilled BBQ Ribs</h2>
                    <p> </p>
                    <h4 class="menu-text" style="font-weight: normal;">
                        <strong>$5</strong>
                    </h4>
                    <a href="">Order Now</a>
                   
                </div>
            </div>
             <div class="col-md-4">
                <div class="food-item">
                    <a href="" target="_blank"><img src="https://media.istockphoto.com/id/1334383300/photo/fish-biryani-spicy-and-delicious-malabar-biryani-or-hydrabadi-biryani-dum-biriyani.jpg?s=612x612&w=0&k=20&c=NHYmMWB3wFbILekgO0d9gEfDcOXTi-c9q-E0yT3Y9lU=" style="height: 200px;width: 100%;"></a>
                    <h2 class="">Malabar Fish Biryani</h2>
                    <p> </p>
                    <h4 class="menu-text" style="font-weight: normal;">
                         <strong>$8</strong>
                    </h4>
                    <a href="">Order Now</a>
                   
                </div>
            </div>
             <div class="col-md-4">
                <div class="food-item">
                    <a href="" target="_blank"><img src="https://media.istockphoto.com/id/1217611897/photo/grilled-chicken-breasts-with-thyme-garlic-and-lemon-slices-on-a-grill-pan-close-up.jpg?s=612x612&w=0&k=20&c=iobxGp_U-v45kgcR1Uv4QVhlkVFpUjsozJQQ6_tF1wY=" style="height: 200px;width: 100%;"></a>
                    <h2 class="">Grilled Chicken</h2>
                    <p> </p>
                    <h4 class="menu-text" style="font-weight: normal;">
                        <strong>$9</strong>
                    </h4>
                    <a href="">Order Now</a>
                   
                </div>
            </div>

    <div class="col-md-4">
    <div class="food-item">
        <a href="#" target="_blank"><img src="https://media.istockphoto.com/id/1430345748/photo/biryani-overhead-view.jpg?s=612x612&w=0&k=20&c=XTh_RyL2FE5BkVYKarmAAR6iIYSeEXcmTR80hLzzKsM=" style="height: 200px;width: 100%;"></a>
        <h2 class="">Mutton Biriyani</h2>
        <p> </p>
        <h4 class="menu-text" style="font-weight: normal;">
            <strong>$7</strong>
        </h4>
        <a href="#" onclick="placeOrder()">Order Now</a>
    </div>
</div>


</div>

<!-- Food End -->
{% endblock %}
