{% extends "base.html" %}

{% block content %}
    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Meet Our Team</h2>
                </div>
                <div class="col-12">
                    <a href="/">Home</a>
                    <a href="{% url 'team' %}">Team</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Team Start -->
    <div class="team">
        <div class="container">
            <div class="section-header text-center">
                <p>Our Team</p>
                <h2>Our Team Members </h2>
            </div>
            <div class="row">
               
                    
              <div class="col-lg-3 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="https://media.istockphoto.com/id/1399565382/photo/young-happy-mixed-race-businessman-standing-with-his-arms-crossed-working-alone-in-an-office.webp?b=1&s=170667a&w=0&k=20&c=ZAXJYLesh6gSd9huAgpy6rjpR4z-IFVH9MpxrKIXCrs=" style="height: 250px;" alt="Image">
                            </div>
                            <div class="team-text">
                                <h2>Prudhvi</h2>
                                <p>General Manager</p>
                                <p><small>Member Since:2018 </small></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="https://media.istockphoto.com/id/1354842602/photo/portrait-of-a-young-businesswoman-working-on-a-laptop-in-an-office.jpg?s=612x612&w=0&k=20&c=kfP1g2712RiaxsDriIxFo363ARlaL2D591s-22CnIo8=" style="height: 250px;" alt="Image">
                            </div>
                            <div class="team-text">
                                <h2>Sowji</h2>
                                <p>Kitchen Manager</p>
                                <p><small>Member Since:2019 </small></p>
                            </div>
                        </div>
                    </div>
                     <div class="col-lg-3 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="https://media.istockphoto.com/id/1690189479/photo/portrait-of-beautiful-young-indian-girl-chef-wearing-apron-holding-knives-in-hand-posing-at.jpg?s=612x612&w=0&k=20&c=NtbvSDkwzU-TK2pxwblo7f-fYsNLooNU6rlDE1Tjh5c=" style="height: 250px;" alt="Image">
                            </div>
                            <div class="team-text">
                                <h2>Navya</h2>
                                <p>Pastry Chef</p>
                                <p><small>Member Since:2020 </small></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="https://media.istockphoto.com/id/690837852/photo/smiling-male-chef-with-cooked-food-in-kitchen.jpg?s=612x612&w=0&k=20&c=HVeFg7Iro2-8KLC8HUP5AUTn4hw0SpQS-z6fRSTZBkg=" style="height: 250px;" alt="Image">
                            </div>
                            <div class="team-text">
                                <h2>Pavan</h2>
                                <p>Sous Chef</p>
                                <p><small>Member Since:2019 </small></p>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <!-- Team End -->
{% endblock %}
